body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fffaf2;
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f1c38a;
  text-align: center;
  padding: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #f5e0c6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 24px;
}

nav p, nav ul {
  margin: 20px 0;
}

nav ul li {
  list-style: none;
  margin: 10px 0;
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 30px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.start-btn {
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.stop-btn {
  background: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.video-container {
  margin-top: 20px;
  border: 3px solid black;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.report-section {
  margin-top: 20px;
}
